section.about.container
  .about__template
    .about__wrapper
      h3.about__title Магазин Глейси – это онлайн и офлайн-магазин по продаже мороженого собственного проиводства на развес
      ul.about__list
        li.about__item
          p.about__text.about__text--icecream Всё наше мороженое изготавливается на собственном производстве с использованием современного оборудования и проверенных временем технологий.

        li.about__item
          p.about__text.about__text--cow Закупка ингредиентов производится только у проверенных фермерских хозяйств, с которыми нас связывает долговременное сотрудничество.

        li.about__item
          p.about__text.about__text--leaf Для приготовления мороженого используются сливки и молоко высочайшего качества. Все ингредиенты и добавки произведены из натурального сырья.

        li.about__item
          p.about__text.about__text--temp Доставка нашего мороженого осуществляется в специальном термопаке, который не даёт мороженому растаять и позволяет сохранить превосходный вкус.
