header.header
  .header__wrapper
    a.header__logo(href='index.html')
      span.visually-hidden Логотип Glacy
    a.header__tel.tel.tel--mobile(href='tel:+78005558628') +7 800 555-86-28

    include /blocks/burger/burger.pug
  include /blocks/nav/nav.pug
