.page
    height: 100%

.page__body
    display: flex
    flex-direction: column
    min-height: 100%
    min-width: 375px
    width: 100%
    background-color: $light-pink
    @include Inter-400
    @include font(0.8rem, 1.25) // 14px, 20px
    color: $extra-dark

@media (min-width: $desktop-width)
    .page__body
        @include font(1rem, 1.25) // 16px, 20px
