.popup-search__form
    position: relative

.popup-search__input
    position: relative
    width: 100%
    min-width: 180px

.popup-search__button
    position: absolute
    right: 0.6rem
    @include align-top
    @include reset-btn
    padding: 2px
    opacity: 0.5

    &:hover,
    &:active,
    &:focus
        opacity: 1

@media (min-width: $desktop-width)
    .popup-search__wrapper
        display: none
        position: absolute
        right: 233px
        width: 356px
        margin-top: 0.5rem
        padding: 1.5rem 1rem
        background-color: $white
        border-radius: 4px
        z-index: 30

        &.active
            display: block

    .popup-search__input
        width: 100%
