mixin article(name, descr, price, picture = [])
  article.catalog__article
    h4.catalog__text= name
    +picture(...picture)
    p.catalog__description= descr
    p.catalog__price= price
    button.button.catalog__button(type='button')
      span.visually-hidden Положить в корзину

section.catalog.container
  h2.visually-hidden Каталог сливочного мороженого
  .catalog__wrapper
    +article('Малинка', 'Сливочное мороженое с малиновым джемом', '310 ₽/кг', ['malinka', 'Мороженое Малинка', '168', '168'])

    +article('Фисташка', 'Фисташковый пломбир с кусочками шоколада', '340 ₽/кг', ['pistachio', 'Мороженое Фисташка', '168', '168'])

    +article('Черника', 'Фисташковый пломбир с кусочками шоколада', '440 ₽/кг', ['blueberry', 'Мороженое Фисташка', '168', '168'])

    +article('Бабл-гам', 'Ванильный пломбир со сладкой посыпкой', '520 ₽/кг', ['bumble-gum', 'Мороженое Бабл-гам', '168', '168'])

    +article('Ежевика', 'Сливочное мороженое с ежевичным джемом', '230 ₽/кг', ['blackberry', 'Мороженое Ежевика', '168', '168'])

    +article('Банан', 'Сливочный пломбир с банановым вкусом', '640 ₽/кг', ['banana', 'Мороженое Банан', '168', '168'])

    +article('Шоколадка', 'Классический шоколадный пломбир', '670 ₽/кг', ['choco', 'Мороженое Шоколадка', '168', '168'])

    +article('Клубничка', 'Сливочный пломбир с клубничным вкусом', '200 ₽/кг', ['strawberry', 'Мороженое Клубничка', '168', '168'])

    +article('Лимон', 'Освежающий лимонный сорбет', '310 ₽/кг', ['lemon', 'Мороженое Лимон', '168', '168'])

    +article('Ментол', 'Сливочный пломбир с ментоловым сиропом', '320 ₽/кг', ['menthol', 'Мороженое Ментол', '168', '168'])

    +article('Орешек', 'Фисташковый пломбир с шоколадным сиропом', '560 ₽/кг', ['nut', 'Мороженое Орешек', '168', '168'])

    +article('Крем-брюле', 'Классическое крем-брюле', '680 ₽/кг', ['сreme', 'Мороженое Крем-брюле', '168', '168'])
