extends /blocks/layout/layout

append pageUrls
  - const pageUrl = 'catalog.html';

block head
 -
  const pageTitle = 'Glacy'
  const pageDescription = 'Каталог. Сливочное мороженое'

block content
  include /blocks/breadcrumbs/breadcrumbs.pug
  include /blocks/filter/filter.pug
  include /blocks/catalog/catalog.pug
  include /blocks/pagination/pagination.pug

block popup
  include /blocks/popup-login/popup-login.pug
  include /blocks/popup-cart/popup-cart.pug
