mixin article(name, descr, price, picture = [])
  article.popular__article
    h4.popular__text= name
    +picture(...picture)
    p.popular__description= descr
    p.popular__price= price
    button.button.popular__button
      span.visually-hidden Положить в корзину

section.popular.container
  h3.popular__title Попробуйте самые популярные вкусы нашего мороженого
  .popular__wrapper
    +article('Малинка', 'Сливочное мороженое с малиновым джемом', '310 ₽/кг', ['malinka', 'Мороженое Малинка', '168', '168'])

    +article('Фисташка', 'Фисташковый пломбир с кусочками шоколада', '340 ₽/кг', ['pistachio', 'Мороженое Фисташка', '168', '168'])

    +article('Черника', 'Фисташковый пломбир с кусочками шоколада', '340 ₽/кг', ['blueberry', 'Мороженое Фисташка', '168', '168'])

    +article('Бабл-гам', 'Ванильный пломбир со сладкой посыпкой', '320 ₽/кг', ['bumble-gum', 'Мороженое Бабл-гам', '168', '168'])
