section.sales
  h3.sales__title Заказывайте мороженое и&nbsp;получайте подарки!
  ul.sales__list
    li.sales__item
      article.sales__article
        p.sales__text Малинка даром!
        p.sales__description При покупке 2 кг любого фруктового мороженого добавим в ваш заказ банку малинового варенья бесплатно.
        .sales__picture.sales__picture--primary
          +picture('sales-malinka', 'Малинка в подарок!', '181', '284')
        button.button.button--secondary.sales__button Хочу подарок

    li.sales__item
      article.sales__article
        p.sales__text Маршмеллоу даром!
        p.sales__description При покупке 2 кг пломбира добавим в&nbsp;ваш заказ упаковку нежных зефирок совершенно бесплатно.
        .sales__picture.sales__picture--secondary
          +picture('sales-marshmellow', 'Маршмеллоу в подарок!', '232', '359')
        button.button.button--secondary.sales__button Хочу подарок
