doctype html
html.page(lang='ru')
  head
    include /blocks/head/head
    title Glacy

  body.page__body
    include /blocks/header/header
    include /blocks/main-page/main-page
    //- main: block content
    //- include /blocks/footer/footer
    script(src='scripts/main.min.js' type='module')
