doctype html
html.page(lang='ru')
  include /blocks/head/head
  
  body.page__body
    include /blocks/header/header
    block content
    include /blocks/footer/footer
    script(src='scripts/main.min.js' type='module')
