doctype html
html.page(lang='ru')
  head
    include /blocks/head/head
    title Glacy

  body.page__body
    include /blocks/header/header
    include /blocks/main-page/main-page

    script(src='scripts/main.js' type='module')
