section.blog.container
  h3.visually-hidden Наш блог
  article.blog__article.blog__article--blog
    h4.blog__text 10&nbsp;способов сервировки фруктовых щербетов к&nbsp;столу
    p.blog__description Новое в нашем блоге

  article.blog__article.blog__article--subscribe
    h4.visually-hidden Подписка
    .blog__wrapper
      p.blog__description Подпишитесь на&nbsp;нашу сладкую рассылку и&nbsp;будьте всегда в&nbsp;курсе всего самого вкусного, что у&nbsp;нас происходит. Обещаем не&nbsp;спамить и&nbsp;не&nbsp;слать всякой ненужной ерунды. Честно =)
      form.blog__form(action='https://echo.htmlacademy.ru/' method='post')
        input.input.blog__input(type='email' name='e-mail' placeholder='email@example.com')
        button.button.blog__button(type='submit') Отправить
