main.main-page
  include /blocks/promo/promo.pug
  include /blocks/sales/sales.pug
  include /blocks/popular/popular.pug
  include /blocks/about/about.pug
  include /blocks/blog/blog.pug
  include /blocks/delivery/delivery.pug
  include /blocks/address/address.pug
