include /blocks/mixins/mixins.pug

main.main-page
  section.promo
    .promo__wrapper
      h1.visually-hidden Ассортимент мороженки

      .promo__slider.swiper
        .promo__slider-wrapper.swiper-wrapper
          .promo__slide.swiper-slide
            h2.promo__title Нежный пломбир с клубничным джемом
            p.promo__text Натуральное мороженое из свежих сливок и молока с вкуснейшим клубничным джемом – это идеальный десерт для всей семьи.
            .promo__picture
              +pictureMedia( 'promo__img', 'promo-jam', 'Нежный пломбир c клубничным джемом' )
          .promo__slide.swiper-slide
            .promo__picture
              +pictureMedia( 'promo__img', 'promo-banana', 'Сливочное мороженое со вкусом банана' )
          .promo__slide.swiper-slide
            .promo__picture
              +pictureMedia( 'promo__img', 'promo-marshmellow', 'Карамельный пломбир с маршмеллоу' )

        .promo__pagination.swiper-pagination

        .promo__button-prev.swiper-button-prev
        .promo__button-next.swiper-button-next

      button.button.button--secondary.promo__button Заказать

  section.sales
    .sales__wrapper
      h3.sales__title Заказывайте мороженое и&nbsp;получайте подарки!
      ul.sales__list
        li.sales__item
          article.sales__article
            p.sales__text Малинка даром!
            p.sales__description При покупке 2 кг любого фруктового мороженого добавим в ваш заказ банку малинового варенья бесплатно.
            .sales__picture
              +pictureMedia('sales__img', 'sales-malinka', 'Малинка в подарок!')
            button.button.button--secondary.sales__button Хочу подарок

        li.sales__item
          article.sales__article
            p.sales__text Маршмеллоу даром!
            p.sales__description При покупке 2 кг пломбира добавим в&nbsp;ваш заказ упаковку нежных зефирок совершенно бесплатно.
            .sales__picture
              +pictureMedia('sales__img', 'sales-marshmellow', 'Маршмеллоу в подарок!')
            button.button.button--secondary.sales__button Хочу подарок
