nav.nav.nav--closed.nav--nojs
    button(type='button').nav__toggle#burger-menu
      span.visually-hidden Открыть меню.

    .nav__wrapper.nav__wrapper--left
      ul.nav__list
        +listItem( 'nav__item', 'nav__link',
          {href: '#', text: 'Каталог'},
          {href: '#', text: `Доставка и${String.fromCharCode(160)}оплата`},
          {href: '#', text: `О${String.fromCharCode(160)}компании`}
          )

    .nav__wrapper.nav__wrapper--right
      ul.nav__list
        li.nav__item
          a.nav__link.tel.tel--desktop(href='tel:+78005558628') +7 800 555-86-28

        li.nav__item.nav__item--popup
          a.nav__link.nav__link--search.popup-search#popup-search(href='#')

          .popup.popup-search__wrapper
            form.popup-search__form(action='https://echo.htmlacademy.ru/' method='post')
              input.input.popup-search__input(autocomplete='off' type='text' name='search' placeholder='Поиск по сайту')
              button.popup-search__button(type='button')

        li.nav__item.popup-login
          a.nav__link.nav__link--login#popup-login(href='#')
            span.nav__text Вход

          .popup.popup-login__wrapper
            p.popup-login__title Личный кабинет
            form.popup-login__form(action='https://echo.htmlacademy.ru/' method='post')
              input.input.popup-login__input(type='email' name='e-mail' placeholder='email@example.com')
              input.input.popup-login__input(type='password' name='password' placeholder='Пароль')
              button.button.popup-login__button(type='button') Войти
              ul.popup-login__list
                +listItem( 'popup-login__item', 'popup-login__link',
                  {href: '#', text: 'Забыли пароль?'},
                  {href: '#', text: 'Регистрация'}
                  )

        li.nav__item.popup-cart
          a.nav__link.nav__link--cart#popup-cart(href='#')
            span.nav__text Пусто
          .popup.popup-cart__wrapper
            p.popup-cart__title Корзина
              ul.popup-cart__list
                li.popup-cart__item
                  +picture ( 'malinka', 'Мороженое Малинка.', '46', '46' )
                  .popup-cart__cart
                    p.popup-cart__name Малинка
                    p.popup-cart__features 1 кг х 310 ₽
                  p.popup-cart__price 310 ₽
                  button.popup-cart__button(type='button')

                li.popup-cart__item
                  +picture ( 'bumble-gum', 'Мороженое Бабл-гам.', '46', '46' )
                  .popup-cart__cart
                    p.popup-cart__name Бабл-гам
                    p.popup-cart__features 1,5 кг х 320 ₽
                  p.popup-cart__price 480 ₽
                  button.popup-cart__button(type='button')

              .popup-cart__order-container
              button.button.popup-cart__order-button(type='button') Оформить заказ
              span.popup-cart__total Итого: 790 ₽
      .overlay.js-overlay-popup
