section.address.container
  h3.visually-hidden Наш адрес и контакты
  .address__container
    .address__wrapper
      p.address__subtitle Адрес главного офиса и&nbsp;офлайн-магазина:
      p.address__title наб. реки Карповки, 5&nbsp;лит&nbsp;П, Санкт-Петербург
      p.address__subtitle Для заказов по&nbsp;телефону:
      a.address__tel(href="tel:+78128121212") +7 (812) 812-12-12
      p.address__text (с 10 до 20 ежедневно)
      button.button.address__button(type='submit') Форма обратной связи
