.popup-login__form
    display: flex
    flex-direction: column

.popup-login__button
    align-self: center
    margin-top: 1.25rem

.popup-login__list
    +reset-list
    margin-top: 1rem

.popup-login__item
    +font(0.875rem, 0.7)
    & + &
        padding-top: 0.6rem

.popup-login__link
    text-decoration: underline

.popup-login__input
    & + &
        margin-top: 1rem

@media (min-width: $tablet-width)
    .popup-login__wrapper,
    .popup-login__wrapper.active
        right: 180px

    .popup-login__form
        display: grid
        grid-template-columns: 1fr 1fr
        row-gap: 1rem
        column-gap: 1.5rem

    .popup-login__input
        grid-column: 1 / -1
        width: 100%
        & + &
            margin-top: 0

    .popup-login__button
        margin-top: 0.25rem

    .popup-login__list
        align-self: center

@media (min-width: $desktop-width)
    .popup-login__wrapper,
    .popup-login__wrapper.active
        right: 230px
