section.promo.container
  h1.visually-hidden Ассортимент мороженки
  h2.promo__title Нежный пломбир с&nbsp;клубничным джемом
  p.promo__text Натуральное мороженое из&nbsp;свежих сливок и&nbsp;молока с&nbsp;вкуснейшим клубничным джемом&mdash;&nbsp;это идеальный десерт для всей семьи.

  .promo__slider.swiper
    .promo__slider-wrapper.swiper-wrapper
      .promo__slide.swiper-slide(data-color='#FEAFC3', data-title='Нежный пломбир с&nbsp;клубничным джемом', data-text='Натуральное мороженое из&nbsp;свежих сливок и&nbsp;молока с&nbsp;вкуснейшим клубничным джемом&mdash;&nbsp;это идеальный десерт для всей семьи.')
        .promo__picture
          +picture( 'promo-jam', 'Нежный пломбир c клубничным джемом', '66', '150')
      .promo__slide.swiper-slide(data-color='#69A9FF', data-title='Сливочное мороженое со&nbsp;вкусом банана', data-text='Сливочное мороженое с&nbsp;ярким банановым вкусом подарит вам свежесть и&nbsp;наслаждение даже в&nbsp;самый жаркий летний день.')
        .promo__picture.promo__picture--secondary
          +picture( 'promo-banana', 'Сливочное мороженое со вкусом банана', '66', '150')
      .promo__slide.swiper-slide(data-color='#FCC850', data-title='Карамельный пломбир с&nbsp;маршмеллоу', data-text='Необычный сладкий десерт с&nbsp;карамельным топпингом и&nbsp;кусочками зефира завоюет сердца сладкоежек всех возрастов.')
        .promo__picture.promo__picture--tertiary
          +picture( 'promo-marshmellow', 'Карамельный пломбир с маршмеллоу', '66', '150')

    button.promo__swiper-button.swiper-button-prev
      span.visually-hidden Предыдущий слайд
    button.promo__swiper-button.swiper-button-next
      span.visually-hidden Последующий слайд

  .promo__pagination.swiper-pagination

  button.button.button--secondary.promo__button(type='button') Заказать
