.popup.popup-feedback__wrapper
  button.popup__close-button(type='button')
    span.visually-hidden Закрыть окно
  p.popup__title Мы обязательно ответим вам!
  form.popup-feedback__form(action='https://echo.htmlacademy.ru/' method='post')
    input.input.popup-feedback__input(type='text' name='name' placeholder='Имя и фамилия')
    input.input.popup-feedback__input(type='email' name='e-mail' placeholder='email@example.com')
    textarea.input.popup-feedback__input.popup-feedback__text(name='feedback' rows='5' placeholder='В свободной форме' maxlength='350')
    button.button.popup-feedback__button(type='submit') Отправить
