footer.footer.container
  .footer__wrapper
    section.footer__docs.docs
      h3.visually-hidden Наши документы
      include /blocks/docs/docs.pug

    .footer__logo
      a.footer__html(href='#')
        span.visually-hidden Логотип HTML Academy
