footer.footer.container
  section.footer__docs.docs
    h3.visually-hidden Наши документы
    ul.docs__list
      +listItem ( ['docs__item', 'docs__item--contractor'], 'docs__link',
      { href: '#', text: 'Для поставщиков'} )
      +listItem ( 'docs__item', 'docs__link',
      { href: '#', text: 'Наши документы'},
      { href: '#', text: 'О производстве'},
      { href: '#', text: 'Экологические стандарты'}
      )
